.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #EEE;
  padding: 32px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post-content {
  padding: 32px;
}

.post {
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  transition: transform .1s ease-in-out;
}

.post:hover {
  transform: scale(1.05);
}

.post img {
  max-width: 100%;
  object-fit: cover;
}